/* HeaderStyles.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}
.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
/* Logo Styles */
.logo a {
    text-decoration: none; /* Remove underline */
    color: #fff; /* White color */
    font-size: 20px; /* Adjust font size for prominence */
    font-weight: bold; /* Make it bold */
}

.logo a:hover {
    color: lightgray; /* Optional: Change color on hover */
    text-decoration: none; /* Ensure no underline on hover */
}